@import 'src/variables';

.auth {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin: 0 auto;
	background: $dark-black;
	box-shadow: $auth-shadow;
	width: 20%;
	h1 {
		text-align: center;
		font-size: 3rem;
		color: $light-green;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
		label {
			display: flex;
			flex-direction: column;
			font-size: 1.3rem;
			color: $light-green;
			input {
				margin-top: 0.3rem;
				background: $normal-green;
				border: none;
				padding: 5px;
				font-size: 1.3rem;
				color: $dark-black;
				box-shadow: $auth-shadow;
			}
		}
		input[type='submit'] {
			padding: 0.5rem 1rem;
			background: $blue;
			border: none;
			margin-top: 1rem;
			font-size: 1.3rem;
			box-shadow: $auth-shadow;
			cursor: pointer;
			transition: all 0.3s ease;
			&:hover {
				transform: translateY(-5px);
			}
		}
	}
	.footer {
		font-size: 1.3rem;
		margin-top: 1rem;
		color: $light-green;
		span {
			margin-left: 1rem;
			a {
				color: $normal-green;
				text-decoration: none;
				transition: all 0.2s ease;
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}
