@import 'src/variables';

.modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1010;
	&__inner {
		position: relative;
		background: $dark-black;
		padding: 1.5rem;
		.close {
			position: absolute;
			top: 1.5rem;
			right: 1.5rem;
			background: none;
			border: none;
			font-size: 1.3rem;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				transform: scale(1.3);
			}
			&:disabled {
				opacity: 0.7;
				cursor: not-allowed;
			}
		}
		form {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			padding: 3rem;
			font-size: 1.2rem;
			input {
				color: $dark-black;
				border: none;
				background: $light-green;
				font-size: 1.2rem;
				padding: 0.5rem 1rem;
				margin-left: 1rem;
				&::placeholder {
					color: $black;
				}
			}
			.submit {
				cursor: pointer;
				background: $very-light-green;
				transition: all 0.3s ease;
				&:hover {
					transform: translateY(-5px);
				}
				&:disabled {
					opacity: 0.7;
					cursor: not-allowed;
				}
			}
		}
	}
}
