@import 'src/variables';

.active_load {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	background: $dark-black;
	font-size: 1.2rem;
	color: $normal-green;
	text-align: center;
	span {
		color: $orange;
	}
	.none {
		font-size: 1.5rem;
	}
	.change_state {
		background: $orange;
		padding: 0.5rem;
		color: black;
		font-size: 1.2rem;
	}
	.logs {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: $light-gray;
		max-height: 20vh;
		overflow-y: scroll;
		padding: 0.5rem;
		border: 2px solid rgba(0, 0, 0, 0.1);
		max-width: 15vw;
		&::-webkit-scrollbar {
			background: none;
			border: none;
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: $orange;
		}
	}
}
