// Colors
$light-gray: #c9e4ca;
$light-green: #87bba2;
$normal-green: #55828b;
$high-green: #3b6064;
$black: #364958;
$dark-black: #202c35;
$orange: #ffd6a5;
$very-light-green: #caffbf;
$blue: #a0c4ff;
$red: #bb6e6e;

// Shadows
$home-shadow: 0 5px 0 0 $light-gray;
$auth-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
