@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

.loading-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $black;
}

.hide {
	display: none !important;
}

.App {
	display: flex;
	align-items: center;
	background: $black;
	min-height: 100vh;
	width: 100%;
}

.none {
	font-size: 1.5rem;
}

.hamburger-react {
	margin: 0 auto !important;
	color: $light-gray !important;
}
.pro-sidebar.collapsed {
	.pro-item-content {
		color: transparent !important;
	}
}
.pro-sidebar-inner {
	background: $dark-black !important;
	height: 100vh !important;
	.pro-menu {
		height: 100% !important;
		padding-top: 3rem !important;
		ul {
			display: flex !important;
			flex-direction: column !important;
			height: 100% !important;
			gap: 1.5rem !important;
			li {
				font-size: 1.3rem !important;
			}
		}
	}
	.pro-menu-item {
		color: $light-gray !important;
		&.active .pro-inner-item {
			color: $orange !important;
			box-sizing: content-box !important;
			border-right: 5px solid $orange !important;
		}
		.pro-inner-item {
			padding: 0 !important;
			position: relative !important;
			transition: all 0.1s ease-in !important;
			.pro-icon-wrapper {
				width: 5rem !important;
				height: 5rem !important;
				background: none !important;
				.pro-icon {
					position: absolute !important;
					left: 0.8rem !important;
				}
			}
		}
	}
}
