@import 'src/variables';

.page404 {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: $dark-black;
	padding: 2rem;
	gap: 2rem;
	font-size: 1.5rem;
	text-align: center;
	color: $normal-green;
	a {
		color: $orange;
		text-decoration: none;
	}
}
