@import 'src/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	background: $dark-black;
	color: $normal-green;
	text-align: center;
	width: 80%;
	height: 80%;
	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.items {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 2rem;
		overflow-y: scroll;
		height: 75%;
		.none {
			font-size: 1.5rem;
		}
		&::-webkit-scrollbar {
			background: none;
			border: none;
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: $orange;
		}
	}
	.load_more_btn {
		margin: 2rem auto 0;
		padding: 1rem;
		width: 20%;
		background: $high-green;
		font-size: 1.2rem;
		border: none;
		cursor: pointer;
		transition: all 0.2s ease;
		opacity: 0.7;
		&:hover {
			opacity: 1;
			transform: translateY(-5px);
		}
	}
}
