@import 'src/variables';

button {
	padding: 0.5rem;
	border: none;
	background: $orange;
	font-size: 1.2rem;
	cursor: pointer;
	opacity: 0.7;
	transition: all 0.2s ease;
	&:hover {
		opacity: 1;
		transform: translateY(-5px);
	}
	&.post,
	&.delete {
		margin-left: 1rem;
	}
	&.delete {
		background: $red;
	}
}
