@import 'src/variables';

.home {
	display: flex;
	min-height: 100vh;
	width: 100%;
	.wrapper {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		header {
			display: flex;
			justify-content: flex-end;
			gap: 2rem;
			padding: 0 2rem;
			min-height: 5rem;
			background: $dark-black;
			.profile {
				display: flex;
				gap: 2rem;
				align-items: center;
				width: fit-content;
				height: 100%;
				text-decoration: none;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				span {
					font-size: 1.5rem;
					color: $light-gray;
				}
				&__img {
					height: 4rem;
					width: 4rem;
					background: $light-gray;
					img {
						width: 100%;
						height: 100%;
					}
				}
				&:hover {
					box-shadow: $home-shadow;
				}
			}
			.logout {
				background: none;
				border: none;
				color: $red;
				cursor: pointer;
				transition: all 0.2s ease-in;
				&:hover {
					transform: translateX(5px);
				}
			}
		}
		main {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5rem;
			height: calc(100vh - 5rem);
		}
	}
}
