@import 'src/variables';

.filters {
	display: flex;
	gap: 2rem;
	button {
		padding: 0.5rem;
		background: $light-green;
		border: none;
		opacity: 0.7;
		cursor: pointer;
		transition: all 0.2s ease;
		min-width: 5rem;
		font-size: 1.2rem;
		&:hover {
			opacity: 1;
			transform: translateY(-5px);
		}
		&.active {
			opacity: 1;
			background: $orange;
		}
	}
}

.add_btn {
	padding: 0.5rem;
	font-size: 1.2rem;
	border: none;
	background: $light-gray;
	cursor: pointer;
	opacity: 0.7;
	transition: all 0.2s ease;
	&:hover {
		opacity: 1;
		transform: translateY(-5px);
	}
}
