@import 'src/variables';

.wrapper {
	display: flex;
	justify-content: space-between;
	height: 4rem;
	gap: 2rem;
	padding: 0.5rem;
	align-items: center;
	.search {
		padding: 0.5rem;
		background: $light-gray;
		border: none;
		font-size: 1.2rem;
		width: 60%;
	}
}
