@import 'src/variables';

.user {
	padding: 1.5rem;
	background: $dark-black;
	width: 40%;
	height: 60%;
	display: flex;
	padding: 1.5rem;
	gap: 1rem;
	.credentials {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		div {
			display: flex;
			align-items: center;
			height: 15%;
			font-size: 1.2rem;
			border-bottom: 2px solid $light-green;
			color: $light-green;
			span,
			input {
				padding: 0.5rem 1rem;
				margin-left: 1rem;
				color: $dark-black;
				&.driver {
					background: $orange;
				}
				&.shipper {
					background: $very-light-green;
				}
				&.name {
					background: $blue;
				}
				&.email {
					background: $blue;
				}
			}
			input {
				border: 1px solid $orange;
				font-size: 1.2rem;
				&:read-only {
					border: none;
					text-align: center;
				}
			}
		}
		.change_btn {
			background: $blue;
		}
		.password_change_btn {
			background: $normal-green;
		}
		.save_btn {
			background: $light-green;
		}
	}
	.img {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		height: 100%;
		img {
			width: 100%;
			height: 50%;
			object-fit: contain;
		}
		.change_img {
			background: $normal-green;
			margin: 0 auto;
		}
	}
	.password_change_btn,
	.change_btn,
	.change_img {
		height: 15%;
		max-height: 70px;
		width: 80%;
		font-size: 1.2rem;
		border: none;
		cursor: pointer;
		transition: all 0.3s ease;
		color: $dark-black;
		&:hover {
			opacity: 0.8;
			transform: translateY(-5px);
		}
	}
}
