@import 'src/variables';

.item {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background: $high-green;
	color: $normal-green;
	font-size: 1.2rem;
}
