@import 'src/variables';

.item {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background: $high-green;
	color: $normal-green;
	font-size: 1.2rem;
	label {
		background: $dark-black;
		padding: 0.5rem;
	}
	input {
		padding: 0.5rem;
		font-size: 1.2rem;
		background: $normal-green;
		border: none;
		width: 5vw;
		margin-left: 1rem;
		&:read-only {
			text-align: center;
		}
	}
}
