@import 'src/variables';

.load_page {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	background: $dark-black;
	gap: 1rem;
	font-size: 1.2rem;
	color: $normal-green;
	.info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		align-items: center;
	}
	.status {
		text-align: center;
		background: $orange;
		padding: 0.5rem;
		color: $dark-black;
		&_new {
			background: $very-light-green;
			color: $normal-green;
		}
	}
	label {
		background: $dark-black;
		padding: 0.5rem;
	}
	input,
	span {
		padding: 0.5rem;
		font-size: 1.2rem;
		background: $normal-green;
		border: none;
		width: 5vw;
		color: $dark-black;
		&:read-only {
			text-align: center;
		}
	}
	.logs {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: $light-gray;
		max-height: 20vh;
		overflow-y: scroll;
		padding: 0.5rem;
		border: 2px solid rgba(0, 0, 0, 0.1);
		max-width: 15vw;
		&::-webkit-scrollbar {
			background: none;
			border: none;
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: $orange;
		}
	}
}
