@import 'src/variables';

.roles_wrapper {
	font-size: 1.3rem;
	color: $light-green;
	.roles {
		display: flex;
		gap: 1rem;
		margin-top: 0.3rem;
		.role_btn {
			font-size: 1.3rem;
			text-align: center;
			padding: 0.5rem 1rem;
			width: 50%;
			border: none;
			background: $black;
			color: $light-green;
			cursor: pointer;
			transition: all 0.3s ease;
			&:hover {
				opacity: 0.7;
				transform: translateY(-5px);
			}
			&.active {
				box-shadow: $auth-shadow;
				background: $normal-green;
				color: $dark-black;
				transform: translateY(-5px);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
